规则：避免采用隐式拷贝，而是采用就地操作的方式。

例子：
隐式拷贝：`y = x * 2`，
就地操作：`x *= 2`

### 练习

<img src="https://static001.geekbang.org/resource/image/44/5c/442a89eed30c13b543e5f717c538325c.jpg" style="zoom:10%;" />

假设一个团队里有 5 名学员，成绩如下表所示。用 NumPy 统计下这些人在语文、英语、数学中的平均成绩、最小成绩、最大成绩、方差、标准差。然后把这些人的总成绩排序，得出名次进行成绩输出。

#### 使用 Numpy 实现

In [19]:
import numpy as np

persontype = np.dtype({
    'names':['name','chinese','english','math'],
    'formats':['S32','i','i','i','i']
})

df = np.array([("zhangfei",66,65,30),
               ("guanyu",95,85,98),
               ("zhaoyun",93,92,96),
               ("huangzhong",90,88,77),
               ("dianwei",80,90,90)],
             dtype=persontype)

name = df[:]['name']
chineses = df[:]['chinese']
englishs = df[:]['english']
maths = df[:]['math']

In [20]:
'''
语文、英语、数学中的平均成绩、最小成绩、最大成绩、方差、标准差。
然后把这些人的总成绩排序，得出名次进行成绩输出。
'''
# 这是个人写的，但是阅读体验感很差，于是看了下评论区，便决定参照评论区的答案盲写一个
# def describe_01(course_name):
#     print("平均成绩是：")
#     print(course_name.mean())
#     print("最小成绩是：")
#     print(course_name.min())
#     print("最大成绩是：")
#     print(course_name.max())
#     print("方差是：")
#     print(course_name.var())
#     print("标准差是：")
#     print(course_name.std())

def describe_02(name,course_score):
    print('{}|{}|{}|{}|{}|{}'.format(name,
                               course_score.mean(),
                               course_score.min(),
                               course_score.max(),
                               course_score.var(),
                               course_score.std()))

print("科目|平均成绩|最小成绩|最大成绩|方差|标准差")
describe_02("语文",chineses)
describe_02("数学",maths)
describe_02("英语",englishs)



print("成绩排名:")
sorted(df,key=lambda x:x[1]+x[2]+x[3],reverse=True)


# print("语文成绩的情况如下：")
# describe(chineses)
# print("\n")
# print("数学成绩的情况如下：")
# describe(maths)
# print("\n")
# print("英语成绩的情况如下：")
# describe(englishs)

科目|平均成绩|最小成绩|最大成绩|方差|标准差
语文|84.8|66|95|114.96000000000001|10.721940122944169
数学|78.2|30|98|634.56|25.19047439013406
英语|84.0|65|92|95.6|9.777525249264253
成绩排名:

[(b'zhaoyun', 93, 92, 96),
 (b'guanyu', 95, 85, 98),
 (b'dianwei', 80, 90, 90),
 (b'huangzhong', 90, 88, 77),
 (b'zhangfei', 66, 65, 30)]

#### 使用 Pandas 实现

实际上用 Pandas 更快更简洁。具体实现如下：

In [68]:
import pandas as pd
from IPython.display import display

columns = ["姓名", "语文", "英语", "数学"]
value_dict = {"姓名": ["张飞", "关羽", "赵云", "黄忠", "典韦"],
              "语文": [66, 95, 93, 90, 80],
              "英语": [65, 85, 92, 88, 90],
              "数学": [30, 98, 96, 77, 90]}

df = pd.DataFrame(value_dict, columns=columns)

df

   姓名  语文  英语  数学
0  张飞  66  65  30
1  关羽  95  85  98
2  赵云  93  92  96
3  黄忠  90  88  77
4  典韦  80  90  90

In [74]:
# 如果无需注重输出效果的话，那么就下面这样即可
display(df.describe().loc[['mean','min','max','std'],"语文":"数学"])
print("方差是：")
display(df.var(ddof=0))

             语文         英语         数学
mean  84.800000  84.000000  78.200000
min   66.000000  65.000000  30.000000
max   95.000000  92.000000  98.000000
std   11.987493  10.931606  28.163807

方差是：

语文    114.96
英语     95.60
数学    634.56
dtype: float64

In [80]:
'''
语文、英语、数学中的平均成绩、最小成绩、最大成绩、方差、标准差。
然后把这些人的总成绩排序，得出名次进行成绩输出。
'''

def describe_03(data):
    for name in ['语文','英语','数学']:
        print('{}|{}|{}|{}|{}|{}'.format(name,
                             data[name].mean(),
                             data[name].min(),
                             data[name].max(),
                             data[name].var(ddof=0),
                             data[name].std()))
    
print("科目|平均成绩|最小成绩|最大成绩|方差|标准差")
describe_03(df)

print("成绩排名：")
df["total_score"] = df.sum(axis=1)
df.sort_values(by='total_score',ascending=False,inplace=True)
df.loc[:,["姓名","total_score"]]

科目|平均成绩|最小成绩|最大成绩|方差|标准差
语文|84.8|66|95|114.96000000000001|11.987493482792807
英语|84.0|65|92|95.6|10.931605554537724
数学|78.2|30|98|634.56|28.16380656090366
成绩排名：

   姓名  total_score
2  赵云         1405
1  关羽         1390
4  典韦         1300
3  黄忠         1275
0  张飞          805

## 总结

使用 Numpy 实现需求，让我去官网彻底了解一下`sorted()`方法的使用。
`sorted()`可以传入任何可迭代数据，返回一个排序好的列表。