内容跳过。

### 练习

请使用 Pandas 中的 DataFrame 进行创建，并对数据进行清洗。同时新增一列“总和”计算每个人的三科成绩之和。
![](https://static001.geekbang.org/resource/image/25/80/25b34b3f6227a945500074e05ea49e80.png)

In [7]:
import pandas as pd

columns = ["姓名","语文","英语","数学"]
value_list = {"姓名":["张飞","关羽","赵云","黄忠","典韦","典韦"],
             "语文":[66,95,95,90,80,80],
             "英语":[65,85,92,88,90,90],
             "数学":[None,98,96,77,90,90]}

df = pd.DataFrame(value_list,columns=columns)

df

   姓名  语文  英语    数学
0  张飞  66  65   NaN
1  关羽  95  85  98.0
2  赵云  95  92  96.0
3  黄忠  90  88  77.0
4  典韦  80  90  90.0
5  典韦  80  90  90.0

In [9]:
# 填充空值
df.fillna(df["数学"].mean(),inplace=True)

# 去重
df.dropna(inplace=True)

# 新增列
df["总分数"] = df.sum(axis=1)

In [10]:
df

   姓名  语文  英语    数学    总分数
0  张飞  66  65  90.2  221.2
1  关羽  95  85  98.0  278.0
2  赵云  95  92  96.0  283.0
3  黄忠  90  88  77.0  255.0
4  典韦  80  90  90.0  260.0
5  典韦  80  90  90.0  260.0

### 总结

关于 Pandas ，个人的经验值已经在 70 分左右，因此这里的练习 naive 。

不过这篇使用 Pandas 进行 SQL 式查询，的确有点意思。但是呢，如果不是数据库，还是使用 Pandas 自带的条件筛选或许会更好些。