# Pokemon

### Introduction:

This time you will create the data.



### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns
import swifter

### Step 2. Create a data dictionary

In [2]:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

### Step 3. Assign it to a variable called

In [4]:
pokemon = pd.DataFrame(raw_data, columns=['name', 'evolution', 'type', 'hp', 'pokedex'])
pokemon.head()

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

### Step 4. Ops...it seems the DataFrame columns are in alphabetical order. Place  the order of the columns as name, type, hp, evolution, pokedex

In [6]:
pokemon.columns = ['name', 'type', 'hp', 'evolution', 'pokedex']
pokemon.head()

         name        type     hp  evolution pokedex
0   Bulbasaur     Ivysaur  grass         45     yes
1  Charmander  Charmeleon   fire         39      no
2    Squirtle   Wartortle  water         44     yes
3    Caterpie     Metapod    bug         45      no

### Step 5. Add another column called place, and insert what you have in mind.

In [8]:
pokemon['place'] = ['home', 'library', 'bathroom', 'restroom']
pokemon

         name        type     hp  evolution pokedex     place
0   Bulbasaur     Ivysaur  grass         45     yes      home
1  Charmander  Charmeleon   fire         39      no   library
2    Squirtle   Wartortle  water         44     yes  bathroom
3    Caterpie     Metapod    bug         45      no  restroom

### Step 6. Present the type of each column

In [9]:
pokemon.dtypes

name         object
type         object
hp           object
evolution     int64
pokedex      object
place        object
dtype: object

### BONUS: Create your own question and answer it.